.git*
.*.yaml
.*.yml
*.md
*.xml
LICENSE
.env*
.idea/
.venv/
Dockerfile
.pre-commit-trivy-cache
*.db

# Python files
*.pyc
*.pyo
*.pyd
*__pycache__*
*.ruff*
.mypy_cache
.pytest_cache
.coverage
*.lcov

# Mac files
.DS_Store

# Vim files
*.swp
*.swo
