alembic==1.13.3
fastapi==0.115.2
opentelemetry-distro==0.48b0
opentelemetry-instrumentation==0.48b0
pydantic==2.9.2
PyJWT==2.9.0
pytest==8.3.2
python-decouple==3.8
python-dotenv==1.0.1
redis==5.1.1
requests==2.32.3
SQLAlchemy==2.0.36
sqlmodel==0.0.22
uvicorn==0.32.0
