alembic==1.14.0
fastapi==0.115.12
opentelemetry-distro==0.48b0
opentelemetry-instrumentation==0.48b0
pydantic==2.11.3
PyJWT==2.10.1
pytest==8.3.3
python-decouple==3.8
python-dotenv==1.0.1
redis==5.2.1
requests==2.32.3
SQLAlchemy==2.0.36
sqlmodel==0.0.22
uvicorn==0.32.0
