name: Build
on: [push, pull_request]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/cache@v4
        with:
          path: ./bin
          key: ${{ runner.os }}-deepsource
          restore-keys: |
            ${{ runner.os }}-deepsource
      - uses: extractions/setup-just@v2
      - name: Install Python 3.12
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
          cache: 'pip'
      - name: Run tests
        run: |
          just test-ci
      - name: Upload coverage reports to Codecov
        if: github.event.pull_request.draft == false
        uses: codecov/codecov-action@v4.3.1
        with:
            token: ${{ secrets.CODECOV_TOKEN }}
            slug: manoelhc/test-actions
      - name: SonarCloud Scan
        if: github.event.pull_request.draft == false
        uses: SonarSource/sonarcloud-github-action@master
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      - name: DeepSource Report
        if: github.event.pull_request.draft == false
        env:
          DEEPSOURCE_DSN: ${{ secrets.DEEPSOURCE_DSN }}
        run: |
          if [ ! -f ./bin/deepsource ]; then
            curl https://deepsource.io/cli | sh
          fi
          ./bin/deepsource report --analyzer test-coverage --key python --value-file ./coverage.xml
      - name: Codacy Report
        if: github.event.pull_request.draft == false
        uses: codacy/codacy-coverage-reporter-action@v1
        with:
          project-token: ${{ secrets.CODACY_PROJECT_TOKEN }}
          coverage-reports: ./coverage.xml
      - name: Build Docker Image
        run: |
          docker build -t test-actions .
