name: ZAP Scan
on:
  push:
    branches:
      - main
permissions:
  issues: write
jobs:
  zap_scan:
    runs-on: ubuntu-latest
    name: Scan the webapplication
    steps:
      - uses: actions/checkout@v4
      - uses: extractions/setup-just@v2
      - name: Run image
        run: just run-ci
      - name: ZAP Scan
        uses: zaproxy/action-api-scan@v0.7.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          docker_name: 'ghcr.io/zaproxy/zaproxy:stable'
          format: openapi
          target: 'http://localhost:5000/'
          # The '-a' option activates all active scanners. Use this for comprehensive scanning.
          cmd_options: '-a'
